.hero__container {
  min-height: 100dvh;
  /* margin-top:-15vh; */
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index:-3; */
  /* box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75); */
}
.hero__container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}
.hero__overlay {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex; /* Use flexbox for the parent */
  justify-content: center; /* Center the child horizontally */
  align-items: center; /* Center the child vertically */
}

.hero__actionList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hero__actionList > li a {
  padding: 1rem 3rem;
  margin-inline: 1rem;
  border-radius: 5px;
  color: white;
}
#ContactBtn {
  background-color: #e98300;
}
#LearMoreBtn {
  border: 1px solid;
}

.section_ourServices,
.section__Technologies {
  min-height: 50dvh;
  text-align: center;
  margin-inline: 10%;

  /* background: #123 url(//unsplash.it/900);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center; */
}

.items-flex {
  display: flex;
  padding: 2rem;
  flex-wrap: no-wrap;
  flex-direction: row;
}
.no-wrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
.section_ourServices .heading {
  padding: 2rem;
}
.items-flex > div {
  padding: 1rem;
}
.ourServices__Container {
  min-height: 75dvh;
}
.tab-link {
  --spacing: 1em;
  font-size: 1.2rem;
  text-wrap: nowrap;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.tab-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 1px;
  background: #000;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
.tab-link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background: #3168dd;
}
.tab-content {
  text-align: left;
  transition: all 0.3s ease; /* You can adjust the duration and easing as needed */
}
.tab-content > a {
  background-color: #e98300;
  border: 1px solid #e98300;
  border-radius: 7px;
  color: white;
  padding-block: 1rem;
  padding-inline: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-decoration: none; /* Remove the default underline */
  overflow: hidden; /* Hide any overflow for the pseudo-elements */
  transition: all 0.3s ease;
  outline: transparent;
  text-wrap: wrap;
}
.is-active,
h4.title {
  color: #3168dd;
  font-weight: 400;
}
h4.title {
  font-weight: 500;
  text-decoration: underline;
}

.section__Technologies {
  color: #fff;
  background-color: #3169dd;
  margin: 0;
  padding-inline: 10%;
}
.section__Technologies .heading {
  padding: 2rem;
}
.front-page-info {
  margin-inline: 10%;
}
.card h5 {
  color: #000;
}
.card {
  flex: 1;
  border: 1px solid #ccc;
  padding-block: 10px;
  margin: 1rem;
  min-width: 300px;
  min-height: 200px;
}
.card > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allows flex items to wrap to the next row */
  flex-direction: row; /* Default direction, can be omitted */
  justify-content: flex-start;
  padding: 0;
}
.card > ul li {
  text-wrap: nowrap;
  margin-inline: 0.25rem;
  border-right: 3px solid #ccc;
  color: #46484a;
  padding-right: 0.5rem;
  margin-block: 1rem;
}
.card > ul > li:last-child {
  border: none;
}
.no-underline {
  text-decoration: none; /* Remove the default underline on hover */
}

.technologiesCall {
  padding-block: 4rem;
  text-align: center; /* Center the button text */
  position: relative;
}
.technologiesCall > #ContactBtnTech {
  background-color: #e98300;
  border: 1px solid #e98300;
  border-radius: 7px;
  color: white;
  padding-block: 1rem;
  padding-inline: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-decoration: none; /* Remove the default underline */
  overflow: hidden; /* Hide any overflow for the pseudo-elements */
  transition: all 0.3s ease;
  outline: transparent;
  text-wrap: wrap;
}
.technologiesCall > #ContactBtnTech:hover,
.technologiesCall > #ContactBtnTech:focus-within {
  border: 2px solid white;
}

.technologiesCall #ContactBtnTech::before,
.technologiesCall #ContactBtnTech::after {
  content: "";
  position: absolute;
  width: 0; /* Start with zero width */
  height: 2px;
  background-color: white; /* Adjust the line color */
  bottom: 0.9rem;
  transition: width 0.3s ease; /* Animate the width change */
}

.technologiesCall #ContactBtnTech::before {
  left: 50%; /* Start in the middle */
  transform: translateX(-50%); /* Center the line horizontally */
}

.technologiesCall #ContactBtnTech::after {
  right: 50%; /* Start in the middle */
  transform: translateX(50%); /* Center the line horizontally */
}

.technologiesCall #ContactBtnTech:hover::before,
.technologiesCall #ContactBtnTech:hover::after {
  width: 50%; /* Grow to 50% width on hover */
}
@media screen and (max-width: 768px) {
  .items-flex {
    flex-wrap: wrap;
    padding: 0;
  }

  .hero__actionList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .hero__actionList > li {
    margin-block: 1rem;
  }
}
