*{
    font-family: 'Montserrat', sans-serif;
}
/* width */
::-webkit-scrollbar{
    width:7px;
    margin-right: 10px;
}
/*Track*/

/* Handle */
::-webkit-scrollbar-thumb{
    background:#E98300;
    border-radius: 10px;
}
/* Handle on hover */
::webkit-scrollbar-thumb:hover{
    background:#003366;
}

html{
    background-color:#2e2e2f;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:transparent;
    color:#fff;
}
/* #region AspSimilar style
 */
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
.navbar-inverse .navbar-brand {
    color: #AA77FF !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
/* #endregion */

header{
    background: #fff;
    width:100%;
    margin:0;
    padding:1rem 2rem;
    height: 35rem;
    
    
}
.page-wrap{
    padding: 2rem 0;
}
.menu-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-height:7rem;
    margin:1rem;
    background-color: white;
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-top-width:7px;
    border-bottom: 0;
    border-left:0;
    border-right:0;
    border-image: linear-gradient(to right,#003367, #4a4a48 ) 1;
    box-shadow: 7px 3px 18px -7px rgba(0,0,0,0.75);
    position:sticky !important;
    z-index: 100;
    
}
.menu-wrapper img{
    grid-column: 1;
    max-height:6rem;
}
.menu-top-bar-container{
    grid-column: 2/5;
}
header .top-bar{
    list-style-type: none;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .top-bar li a{
    font-family: 'Century Gothic', sans-serif;
    font-weight: 900;
    padding:0.25rem 1rem;
    color: #092231;
}
header .top-bar li a:hover{
    text-decoration: none!important;
    border-bottom: solid 5px #092231;
}
header .top-bar li:last-child a{
    padding-right: 0;
}